* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wildlife {
  min-height: 100vh;
  background: url("../Images/DSC_0959.jpg");
  background-size: cover;
  padding-top: 5rem;
  padding-right: 8rem;
  padding-bottom: 1rem;
  padding-left: 8rem;
}

#scroll_animation {
  position: absolute;
  top: 90%;
  left: 48%;
}
